@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-transform: rotate(180);
          transform: rotate(180);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  body {
    background-image: none;
    background-color: #282b35;
  }
  body::before {
    padding: 0 4%;
    color: #ccc;
    content: "Scarica la versione di quest' app per mobile e tablet";
    text-align: center;
    font-weight: bold;
    font-size: 8vw;
  }
}

body > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#32a093), color-stop(15%, #32a093), color-stop(15%, #dfe0d8), to(#dfe0d8));
  background-image: linear-gradient(to bottom, #32a093 0%, #32a093 15%, #dfe0d8 15%, #dfe0d8 100%);
}

body > div.dark {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3e), color-stop(15%, #3c3c3e), color-stop(15%, #000), to(#000));
  background-image: linear-gradient(to bottom, #3c3c3e 0%, #3c3c3e 15%, #000 15%, #000 100%);
}

@media screen and (max-width: 900px) {
  body > div {
    display: none;
  }
}

input {
  border: 0;
  border-radius: 3px;
  background-color: #fff;
}

input:focus {
  outline: none;
  border: none;
}

ul,
ol {
  list-style-position: inside;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 7rem;
  padding: 0.4rem 1.3rem;
  margin: 1vw;
  font-weight: bold;
  background: transparent;
  border: 1px solid #ddfabf;
  color: #ddfabf;
  border-radius: 7px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.btn:hover {
  background: #ddfabf;
  color: #fff;
}

.btn:focus {
  outline: none;
}

a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

h1 {
  font-size: calc(1.8rem + 1vw);
}

h2 {
  font-size: calc(1.5rem + 1vw);
}

h3 {
  font-size: calc(1.3rem + 1vw);
}

p,
span {
  font-size: calc(0.4rem + 0.7vw);
}

label {
  font-size: calc(1.2rem + 1vw);
}

i {
  cursor: pointer;
  color: #bababa;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

i:hover {
  color: #777e82;
}

main {
  min-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 90%;
}

@media screen and (max-width: 900px) {
  main {
    display: none;
  }
}

aside,
section {
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap-options {
  width: 155px;
  padding-right: 13px;
  font-size: calc(0.6rem + 0.7vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap-options i.active {
  color: #59585d;
}

header .wrap-options i.active.dark {
  color: #fff;
}

header.dx .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header.dx .wrap span:last-child {
  font-size: calc(0.4rem + 0.4vw);
  color: #777e82;
  font-size: 0.8rem;
}

header.dx .wrap-options {
  position: relative;
  width: 70px;
}

header.dx .wrap-options .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  margin: 0 7px;
  background-color: #fff;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header.dx .wrap-options .input-box.dark {
  background-color: #2e2f33;
  color: #a8a9ab;
}

header.dx .wrap-options .input-box input {
  padding-left: 7px;
}

header.dx .wrap-options .input-box input.dark {
  background-color: #2e2f33;
  color: #a8a9ab;
}

header.dx .wrap-options .input-box i.active.dark {
  color: #fff;
}

header.sx .account-txt-box {
  margin-left: 7px;
  position: relative;
  height: 35px;
  width: 80%;
  height: 35px;
}

header.sx .account-txt-box .userName {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  font-size: 1rem;
  /* altezza e larghezza minima servono
       a non muovere il figlio in absolute
        qunado il contenuto viene canellato
        per cambiare nome prof */
  min-width: 83px;
  min-height: 17px;
}

header.sx .account-txt-box .userName.notOnLine, header.sx .account-txt-box .userName.dark {
  color: #bababa;
}

header.sx .account-txt-box .userName .NotOnLineEl {
  font-size: calc(0.5rem + 0.5vw);
  padding: 2px;
}

header.sx .account-txt-box .userThoughtsEl {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #777e82;
  font-size: 0.8rem;
  /* line height serve a non spingere la 
      scritta quando si inserisce emoji*/
  line-height: 17px;
}

header.sx .account-txt-box .userThoughtsEl.dark {
  color: #bababa;
}

header,
footer {
  background-color: #f1eeee;
  min-height: 9%;
}

header.dark,
footer.dark {
  background-color: #191919;
}

section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  border-right: 1px solid #dfe0d8;
}

aside.dark {
  border-right: 1px solid #171b20;
}

aside .active-note-box {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a2dffe;
}

aside .active-note-box.dark {
  background-color: #b59024;
}

aside .active-note-box i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  margin-left: 13px;
  font-size: calc(0.6rem + 0.7vw);
  border-radius: 50%;
  background-color: #f5fcff;
  color: #a2dffe;
}

aside .active-note-box i.dark {
  color: #b59024;
}

aside .active-note-box .wrap {
  margin-left: 7px;
}

aside .active-note-box .wrap p {
  font-size: calc(0.4rem + 0.5vw);
}

aside .active-note-box .wrap a {
  font-size: calc(0.4rem + 0.4vw);
  text-decoration: underline;
  color: #777e82;
}

aside .active-note-box .wrap a:hover {
  color: #000;
}

aside .active-note-box .wrap a.dark {
  color: #59585d;
}

aside .input-box {
  position: relative;
  height: 5.5%;
  background-color: #f1eeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .input-box.dark {
  background-color: #1f1f1f;
}

aside .input-box input {
  width: 97%;
  height: 62%;
  padding-left: 15%;
  color: #35363b;
}

aside .input-box input.dark {
  background-color: #2e2f33;
  color: #a8a9ab;
}

aside .input-box i {
  position: absolute;
  left: 6%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside ul {
  background-color: #fff;
  height: 75.5%;
  overflow-y: auto;
  /* togliere bg e bordi da emoji nel
     cambiamento testi dell'account */
}

aside ul.dark {
  background-color: #2e2f33;
  color: #a8a9ab;
}

aside ul.emoticon-box li {
  background-color: transparent;
  border-color: transparent;
}

aside li {
  position: relative;
  height: 12.5%;
  border-bottom: 1px solid #f4f0ed;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

aside li:last-child {
  border-bottom: 0;
}

aside li:hover {
  background-color: #f4f0ed;
}

aside li:hover.dark {
  background-color: #171b20;
}

aside li.dark {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

aside header.sx {
  position: relative;
}

aside header.sx .input-box {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #dfe0d8;
  border-left: none;
  border-right: none;
  z-index: 10;
  width: 100%;
  height: 9vh;
}

aside header.sx .input-box.dark {
  border-color: #191919;
}

aside header.sx .input-box .emoticon-box {
  bottom: 0;
  top: 100%;
  height: 24vh;
}

aside .change-av-box {
  position: absolute;
  width: 400px;
  height: 9%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

aside .change-av-box.dark {
  border-color: #191919;
}

aside .change-av-box li {
  display: inline-block;
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0;
  padding: 0 7px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

aside .change-av-box li:hover {
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

aside .change-av-box li img {
  width: 43px;
  height: 43px;
}

aside .change-av-box img {
  border-radius: 50%;
}

.account-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.account-box img {
  margin-left: 13px;
  width: 43px;
  border-radius: 50%;
}

.account-box a.dark {
  color: #a8a9ab;
}

.account-box span {
  padding-left: 7px;
  display: inline-block;
}

.account-box span.dark {
  color: #fff;
}

/* classe active portata da js su 
conversazione attualmente selezionata*/
ul li.active::after {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  content: '';
  border-radius: 50%;
  background-color: #32a093;
  width: 7px;
  height: 7px;
}

.sended-area {
  background-image: url(../img/mine.webp);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  padding: 2% 12% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sended-area.dark {
  background-image: url(../img/mineDark.webp);
  background-size: 410px;
}

.sended-area.output {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sended-area .mes {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  padding: 13px;
  min-width: 40%;
  max-width: 70%;
  margin-top: 12px;
}

.sended-area .mes.dark {
  background-color: #3c3c3e;
  color: #fff;
}

.sended-area .mes.sent {
  background-color: #ddfabf;
  margin-left: auto;
}

.sended-area .mes.sent.dark {
  background-color: #056161;
}

.sended-area .mes .date {
  color: #bababa;
  position: absolute;
  bottom: 5%;
  right: 3%;
  font-size: calc(0.3rem + 0.3vw);
}

.sended-area .mes .date.dark {
  color: #fff;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer input {
  padding: 0 2%;
  width: 77%;
  height: 75%;
}

footer input.dark {
  background-color: #2e2f33;
  color: #a8a9ab;
}

footer i {
  font-size: calc(0.7rem + 0.8vw);
  color: #777e82;
}

footer i:hover {
  color: #000;
}

.emoticon-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 300%;
  background-color: #f1eeee;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
}

.emoticon-box.dark {
  background-color: #191919;
  border-bottom: 1px solid #000;
}

.emoticon-box li {
  margin: 3px 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.emoticon-box li:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
/*# sourceMappingURL=style.css.map */