.account-box {
  display: flex;
  align-items: center;
  @include width-height(100%, 100%);
  img {
    margin-left: $spaceFromBorder;
    width: $circlewidth;
    border-radius: 50%;
  }
  a.dark {
    color: $txtColorInDark1;
  }
  span {
    padding-left: $spaceFromImg;
    display: inline-block;
    // colori in dark mode
    &.dark {
      color: #fff;
    }
  }
}

/* classe active portata da js su 
conversazione attualmente selezionata*/
.active::after {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  content: '';
  border-radius: 50%;
  background-color: $bg1;
  @include width-height(7px, 7px);
}
