.sended-area {
  overflow-y: auto;
  padding: 3% 12%;
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
  // colori in dark mode
  &.dark {
    background-image: url(../img/mineDark.jpg);
  }
  .cont {
    font-size: calc(0.45rem + 0.45vw);
    height: 12%;
    @include flex(row, flex-start, center);
    &.output {
      justify-content: flex-end;
    }
    .mes {
      position: relative;
      border-radius: 8px;
      background-color: $brand;
      padding: $spaceFromBorder;
      width: 43%;
      // colori del dark
      &.dark {
        background-color: $darkArrived;
      }
      &.arrived {
        background-color: $pureW;
        &.dark {
          background-color: $txtColorInDark1;
        }
      }
      .date {
        color: $Icon;
        position: absolute;
        bottom: 5%;
        right: 3%;
        font-size: calc(0.3rem + 0.3vw);
        // colori del dark
        &.dark {
          color: $black;
        }
      }
    }
  }
}
