* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  transform: rotate(180);
}

body {
  @include flex(row, center, center);
  height: 100vh;
  @include media-desk-first(desktop) {
    background-image: none;
    background-color: $darkBg;
    &::before {
      padding: 0 4%;
      color: $semiLightTxt;
      content: "Scarica la versione di quest' app per mobile e tablet";
      text-align: center;
      font-weight: bold;
      font-size: (8vw);
    }
  }
}
body > div {
  @include width-height(100%, 100%);
  @include flex(row, center, center);
  background-image: linear-gradient(
    to bottom,
    $bg1 0%,
    $bg1 15%,
    $bg2 15%,
    $bg2 100%
  );
  // colori in dark mode
  &.dark {
    background-image: linear-gradient(
      to bottom,
      $darkfondale1 0%,
      $darkfondale1 15%,
      $black 15%,
      $black 100%
    );
  }
  @include media-desk-first(desktop) {
    display: none;
  }
}

input {
  @include input($brand);
}

ul,
ol {
  list-style-position: inside;
}
ul {
  list-style: none;
}

.btn {
  @include btn();
}

a {
  @include a();
}
