h1 {
  font-size: calc(1.8rem + 1vw);
}

h2 {
  font-size: calc(1.5rem + 1vw);
}

h3 {
  font-size: calc(1.3rem + 1vw);
}

p {
  font-size: calc(1rem + 1vw);
}

label {
  font-size: calc(1.2rem + 1vw);
}
