$bg1: #32a093;
$bg2: #dfe0d8;
$bg3: #f1eeee;
$darkBg: #282b35;
$semiLightTxt: #ccc;
$pureW: #fff;
$brand: #ddfabf;
$primary: #093247;
$secondary: #a2dffe;
$Icon: #bababa;
$darkIcon: #777e82;
$headFootColor: #f4f0ed;
$error: red;
// colori del dark
$bgDark1: #191919;
$bgDarkHover: #171b20;
$bgDark2: #2e2f33;
$bgInputInDark: #35363b;
$notificationsColorInDark: #b59024;
$txtColorInDark1: #a8a9ab;
$txtColorInDark2: #59585d;
$darkSent: #056161;
$darkArrived: #3c3c3e;
// fondali del dark
$black: #000;
// size
$spaceFromBorder: 18px;
$spaceFromImg: 7px;
$circlewidth: 43px;
// font
$fontSizeUtente: calc(0.6rem + 0.7vw);
