$bg1: #32a093;
$bg2: #dfe0d8;
$bg3: #fbfbfb;
$darkBg: #282b35;
$semiLightTxt: #ccc;
$pureW: #fff;
$brand: #ddfabf;
$primary: #093247;
$secondary: #a2dffe;
$Icon: #bababa;
$darkIcon: #777e82;
$headFootColor: #f4f0ed;
$error: red;
// size
$spaceFromBorder: 18px;
$spaceFromImg: 7px;
$circlewidth: 43px;
// font
$fontSizeUtente: calc(0.6rem + 0.7vw);
