@import 'variabiles.scss';
@import 'mixin.scss';
@import 'reset.scss';
@import 'typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// parte non di sfondo
main {
  min-width: 900px;
  display: flex;
  @include width-height(75%, 90%);
  @include media-desk-first(desktop) {
    display: none;
  }
}
// lista account
aside,
section {
  height: 100%;
}
// intestazione di aside
header {
  @include flex(row, space-between, center);
  // contenitore icone degli header
  .wrap-options {
    width: 150px;
    padding-right: $spaceFromBorder;
    font-size: $fontSizeUtente;
    @include flex(row, space-between, center);
    i.active {
      color: $txtColorInDark2;
      &.dark {
        color: #fff;
      }
    }
  }
  // contenitore icone header a dx
  &.dx .wrap {
    @include flex(column, space-between, flex-start);
    span:last-child {
      font-size: calc(0.4rem + 0.4vw);
      color: $darkIcon;
      font-size: $underProfNameFontS;
    }
  }
  // scritte del nome utente in alto a sx
  &.sx .account-txt-box {
    margin-left: $spaceFromImg;
    position: relative;
    height: 35px;
    @include width-height(80%, 35px);
    .userName {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      font-size: 1rem;
      /* altezza e larghezza minima servono
       a non muovere il figlio in absolute
        qunado il contenuto viene canellato
        per cambiare nome prof */
      min-width: 83px;
      min-height: 17px;
      // colore se non in linea o dark
      &.notOnLine,
      &.dark {
        color: $Icon;
      }
      .NotOnLineEl {
        font-size: calc(0.5rem + 0.5vw);
        padding: 2px;
      }
    }
    .userThoughtsEl {
      position: absolute;
      left: 0;
      bottom: 0;
      color: $darkIcon;
      font-size: $underProfNameFontS;
      /* line height serve a non spingere la 
      scritta quando si inserisce emoji*/
      line-height: 17px;
      // colore dark
      &.dark {
        color: $Icon;
      }
    }
  }
}
// sezione della messaggistica
header,
footer {
  background-color: $bg3;
  min-height: 9%;
  // colori in dark mode
  &.dark {
    background-color: $bgDark1;
  }
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@import 'aside.scss';
@import 'accounts.scss';
@import 'areaMessage.scss';
@import 'footer.scss';
