@import 'variabiles.scss';
@import 'mixin.scss';
@import 'utility.scss';
@import 'reset.scss';
@import 'typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// parte non di sfondo
main {
  border: 1px solid blue;
  min-width: 900px;
  display: flex;
  @include width-height(85%, 95%);
  @include media-desk-first(desktop) {
    display: none;
  }
}

// lista account
aside,
section {
  height: 100%;
}

aside {
  flex-basis: 37%;
  border: 2px solid red;
  .active-note-box {
    height: 10%;
    background-color: lightblue;
  }
  .search-contact-box {
    position: relative;
    border: 1px solid green;
    height: 7%;
    background-color: lightgrey;
    @include flex(row, center, center);
    input {
      @include width-height(95%, 85%);
      padding-left: 15%;
    }
    .fa-search {
      position: absolute;
      left: 6%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// sezione della messaggistica
header,
footer {
  background-color: lightgrey;
  height: 9%;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
}

.sended-area {
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
}

// footer (area scrittura messaggi)
footer {
  @include flex(row, space-around, center);
  width: 100%;
  input {
    padding: 0 2%;
    @include width-height(77%, 75%);
  }
}
@import '_jsClasses.scss';
